*, *:after, *:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-size: 16px
  line-height: 150%

html, body
  margin: 0
  padding: 0
  min-height: 100%
  color: $main-color
  font-family: 'Fira Mono', monospace
  background-color: $main-background-color

.wrapper
  padding: 20px
  max-width: 800px
  margin: 0 auto

a
  color: $link-color
  text-decoration: none
  &:hover
    text-decoration: underline

.seperator
  margin: 16px 0
  padding: 0
  border: 0
  border-bottom: 1px dashed $main-color

.list
  margin: 0
  padding: 0

.content
  h1, p, pre
    margin: 0 0 24px
    padding: 0
  a
    color: $link-color-content
  img, pre
    max-width: 100%
  pre
    border: 1px dashed
    padding: 5px
    overflow-x: auto

