$main-background-color = #000

$main-color = #0f0
$link-color = #ff0
$link-color-content = #6f6

componentStylesPath(componentName)
  return '../views/components/' + componentName + '/' + componentName + '.styl';
