include components/header/mixin

doctype html
html
  head
    meta(charset='UTF-8')
    title The Amazing PT
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/assets/main.css', rel='stylesheet')
    link(href='https://code.cdn.mozilla.net/fonts/fira.css', rel='stylesheet')
    link(href='/assets/favicon.ico', rel='shortcut icon', type='image/x-icon')
  body
    .wrapper
      +header()

      block about
      hr.seperator

      block content
