extends _layout

include components/about/mixin
include components/list-item/mixin

block about
  hr.seperator
  +about(locals.aboutText)

block content
  ul.list
    each post in locals.posts
      +list-item(post)
