.header
  display: flex
  justify-content: space-between
  color: $link-color

  &__title
    margin: 0
    padding: 0
    font-weight: 600
    &:hover
      text-decoration: none

  &__links
    text-align: right

  &__link
    display: inline-block

@media (max-width: 640px)
  .header
    display: block
  .header__links
    text-align: left
