header.header
  a.header__title(href='/') THE AMAZING PT
  nav.header__links
    | &nbsp; 
    a.header__link(href='https://github.com/TheAmazingPT') Github
    | &nbsp; 
    a.header__link(href='https://codepen.io/TheAmazingPT') CodePen
    | &nbsp; 
    a.header__link(href='https://www.twitter.com/theamazingpt') Twitter
    | &nbsp; 
    a.header__link(href='mailto:theamazingpt@openmailbox.org') E-Mail
